<% school = "hpsh" %>
<% room = params["room"] || 'a' %>
<% content_for :title do %>和平高中<% end %>

<h1>和平高中<br>
  <% case room
     when 'a' %>
      期刊區
  <% when 'b' %>
      閱覽區
  <% when 'c' %>
      研究室
  <% when 'd' %>
      書庫
  <% when 'e' %>
      電腦作業區
  <% when 'f' %>
      辦公室
  <% when 'g' %>
      書庫
  <% when 'h' %>
      會議室
  <% end %>
</h1>

<div style="height: 25px;"></div>

<nav style="width:1180px;margin: 0px auto;">
  <table>
    <tr>
      <td><a href="/<%= school %>?room=a">期刊區</a></td>
      <td><a href="/<%= school %>?room=b">閱覽區</a></td>
      <td><a href="/<%= school %>?room=c">研究室</a></td>
      <td><a href="/<%= school %>?room=d">書庫</a></td>
    </tr>
    <tr>
      <td><a href="/<%= school %>?room=g">書庫</a></td>
      <td><a href="/<%= school %>?room=e">電腦作業區</a></td>
      <td><a href="/<%= school %>?room=f">辦公室</a></td>
      <td><a href="/<%= school %>?room=h">會議室</a></td>
    </tr>
  </table>
</nav>
<div style="height: 25px;"></div>

<div class="gridster">
  <ul>
  <% {a: [{device: '智慧插座', devId: '20F85EA965A1', volt: '110'},
           {device: '智慧插座', devId: '20F85EAA14EB', volt: '110'},
           {device: '智慧插座', devId: '20F85EA9639E', volt: '110'}],
       b: [{device: '智慧插座', devId: '20F85EA95467', volt: '110'},
           {device: '智慧插座', devId: '20F85EA95491', volt: '110'}],
       c: [{device: '智慧插座', devId: '20F85EAA5484', volt: '110'}],
       d: [{device: '智慧插座', devId: '20F85EA9737E', volt: '110'},
           {device: '智慧插座', devId: '20F85EAA760E', volt: '110'}],
       e: [{device: '智慧插座', devId: '20F85EA95CEB', volt: '110'}],
       f: [{device: '智慧插座', devId: '20F85EAA0FAC', volt: '110'}],
       g: [{device: '智慧插座', devId: '20F85EAA6D9F', volt: '110'},
           {device: '智慧插座', devId: '20F85EAA726F', volt: '110'}],
       h: [{device: '前燈',	devId: '20F85EAA739C', volt: '110'},
           {device: '後燈',	devId: '20F85EAA76FB', volt: '110'},
           {device: '後燈',	devId: '20F85EAA75DA', volt: '110'}]
      }[room.to_sym].each do |dev| %>
            <li data-row="1" data-col="1" data-sizex="2" data-sizey="5">
              <div data-id="device_<%= dev[:devId] %>" data-view="Text" data-title="<%= dev[:device] %>" data-text="開啟中" data-moreinfo=""></div>
            </li>

            <li data-row="1" data-col="1" data-sizex="1" data-sizey="5">
              <div data-id="voltage_<%= dev[:devId] %>" data-view="Meter" data-title="電壓(V)" data-min="0" data-max="300" data-value="<%= dev[:volt] %>"></div>
            </li>

            <li data-row="1" data-col="1" data-sizex="1" data-sizey="5">
              <div data-id="amp_<%= dev[:devId] %>" data-view="Meter" data-title="電流(A)" data-min="0" data-max="20"></div>
            </li>

            <li data-row="1" data-col="1" data-sizex="2" data-sizey="5">
              <div data-id="energy_<%= dev[:devId] %>" data-view="Graph" data-title="累積耗電(度)" style="background-color:#96bf48;"></div>
            </li>

            <li data-row="1" data-col="1" data-sizex="2" data-sizey="5">
              <div data-id="power_<%= dev[:devId] %>" data-view="Graph" data-title="功率(瓦特)" style="background-color:#ff9618"></div>
            </li>
            <li data-row="1" data-col="1" data-sizex="4" data-sizey="1"></li>
     <% end %>
  </ul>
</div>
